* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 30px;
  font-size: 0;
}

.button {
  font-size: 20px;
  border: 1px solid #000;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 20px 20px 0;
  cursor: pointer;
}

.button:hover {
  background: #000;
  color: #fff;
}

.object {
  width: 200px;
  margin: 0 30px 30px 0;
  display: inline-block;
  font-size: 50px;
}

.orange { color: #FFA30C; }
.blue { color: #80BBFF; }
.pink { color: #FF7283; }
