.container {
        position: relative;
        text-align: center;
        color: #000;
}

.moon {
    height: 2000px;
    width: 1095px;
    background-color: #000;
    margin: 0 auto 0 auto;
}

.sun {
    height: 2000px;
    width: 1095px;
    background-color: #000;
    margin: 0 auto 0 auto;
}

div {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-size: 200;
    font-family: source code pro;
    color: black;
}







