video {
  width: 90%;
}

/* structure */

.content {
	max-width: 1000px;
  /*width: 816px;*/
	padding: 0px 0px;
	margin: auto;
	font-weight: 300;
  	height: -webkit-calc(100% - 0px);
   	height: calc(0% - 0px);
   	text-align: center;
   	display: block;
   	position: absolute;
}

.content {
	margin-bottom: 50px;
}

.pic {
	width: 10%;
	position: absolute;
	left: 500px;
	display: block;
	top: -1000;
	 z-index: ;
	 left: 700px;
    top: 150px;
}