
body {
    margin: 0;
    padding: 0;
    font-size: 300;
    font-family: source code pro;
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    background-color: white;
 }

.centered {
    position: absolute;
    top: 150vh;
    left: 60vw;
    transform: translate(-50%, -50%);
 }

#rosegif {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 250vh;
    left: -50vw;
    background-color:white;
    margin: 0 auto 0 auto;
}

div {
    display: block;
}
