body {
    margin: 0;
    padding: 0;
    font-size: 15;
    font-family: Lucida Sans Typewriter;
    background-color: white;
}

.container {
    position: relative;
    text-align: center;
    background-color: white;
 }

.centered {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
 }

#rosegif {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 200vh;
    left: -50vw;
    background-color:white;
    margin: 0 auto 0 auto;
}

div {
    display: block;
}
