/* Your styles go here */
body {
	background: black;
	border: 0px;
	margin: 90px;
	padding: 0px;
}

.main {
	font-size: 20px;
	font-family: 'Volkron';
	color: #64ACFF;
	text-align: center;
	position: fixed; 
	top: 10%;
    left: 50%;
     transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.meals {
	font-size: 100px;
	font-family: 'Volkron';
	color: white;
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	position: fixed;
	top: 45%;
    left: 50%;
     transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.images{
	text-align: center;
}

.image {
    display: inline-block;
	width:20%;
	height:10%;
}

img {
	max-width: 100%;
	height: auto;
}

