/* Your styles go here */
html,body { width: 100%; height: 100%; 
}

.rec {
	width:35%;
	height:30%;
	background-color: rgb(82,186,212);
	position:fixed;
	left:32.25%;
	top:37.5%;

}
.top-left {
	width:15%;
	height:33.33%;
	background-color: rgb(64,78,175	);
	left:0%;
	position:absolute;
}
.top-right {
	width:15%;
	height:33.33%;
	background-color: rgb(64,78,175	);
	right:0%;
	position:absolute;
}
.bottom-left {
	width:15%;
	height:33.33%;
	background-color: rgb(64,78,175	);
	right:0%;
	bottom:0%;
	position:absolute;
}
.bottom-right {
	width:15%;
	height:33.33%;
	background-color: rgb(64,78,175	);
	left:0%;
	bottom:0%;
	position:absolute;
}