body{
  background-color:white;
  font-size: 20px;
}


#images {
  
  position: relative;
  left: 50px;
  top: 0px;
  height: 200px;
  width: 1300px;
  animation-name: slideshow 5s;
  animation-iteration-count: infinite;
  transform: rotate(0deg);
  
}

@keyframes slideshow {
 0% {transform: rotate(45deg);}
}
