
 .scroll {
  position: relative;
  top: 50vh;
  left: 45vw;
  animation-name: turn;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    color: red;
 }


@keyframes turn {
    0%{
       transform: translateX(50%) 
    }
    50% {
      transform: translateX(0) 
    }
    100%
    {
      transform: translateX(-160%) 

    }
}


