/* Your styles go here */
body {
	background: black;
	border: 0%;
	margin: 0%;
	padding: 5%;
}


.main {
	font-size: 30px;
	font-family: 'OleoScript-Regular';
	color: white;
	text-align: center;
	position: fixed; 
	top: 6%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-10deg);
   
}

.breakfast {
	font-size: 70px;
	font-family: 'OleoScript-Regular';
	color: #EF2841;
	text-align: center;
	position: fixed; 
	top: 13%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-10deg);
}

.images{
	border-width: 0%;
	padding: 0%;
	margin: 0%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.b-image {
    text-align: center;
	width:90%;
	height:90%;
	border-width: 0%;
	padding: 7%;
	margin: 0%;
}

b-image:hover {
}

.b-image {
	font-size: 20px;
	font-family: 'Roboto Mono', monospace;
	color: white;
}

img {
	max-width: 100%;
	height: auto;
}

