/* Your styles go here */
body {
	background: black;
	border: 0%;
	margin: 0%;
	padding: 5%;
}

a {
	text-decoration: none;
}
.opening-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(34, 101, 178, 0.5);*/
	z-index: 1;
	transition: opacity 2s;
}

.opening-cover-background {
	background-color: #2265B2;
	opacity: 0.5;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.opening-cover.active {
	opacity: 0;
	pointer-events: none;
}

.opening-cover-text {
	font-size: 20vw;
	color: #1581FF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-10deg);
	text-align: center;
	font-family:'OleoScript-Regular';
}

.main {
	font-size: 30px;
	font-family: 'OleoScript-Regular';
	color: white;
	background: #8CC1FF;
	text-align: center;
	position: fixed; 
	top: 6%;
    left: 50%;
     transform: translate(-50%,-50%) rotate(-10deg);
    z-index: 1;
   
}

.images{
	text-align: center;
	border-width: 0%;
	padding: 3%;
	margin: 0%;
}

.b-image {
    display: inline-block;
	width:30%;
	height:10%;
	border-width: 0%;
	padding: 1.5%;
	margin: 0%;
	filter: sepia(100%) hue-rotate(-70deg) saturate(150%);
}

/*.b-img {
	filter: sepia(100%) hue-rotate(-70deg) saturate(150%);
}*/

.b-image:hover {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);
}

.l-image {
    display: inline-block;
	width:30%;
	height:10%;
	border-width: 0%;
	padding: 1.5%;
	margin: 0%;
	filter: sepia(100%) hue-rotate(500deg) saturate(150%);
}

.l-image:hover {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);
}

.d-image {
    display: inline-block;
	width:30%;
	height:10%;
	border-width: 0%;
	padding: 1.5%;
	margin: 0%;
	filter: sepia(100%) hue-rotate(90deg) saturate(100%);
}

.d-image:hover {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);
}

.de-image {
    display: inline-block;
	width:30%;
	height:10%;
	border-width: 0%;
	padding: 1.5%;
	margin: 0%;
	filter: sepia(100%) hue-rotate(200deg) saturate(150%);
}

.de-image:hover {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);
}

.meal {
    display: inline-block;
	width:30%;
	height:10%;
	border-width: 0%;
	padding: 1.5%;
	margin: 0%;
}

#breakfast:hover ~ .b-image {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);
}

#breakfast:hover {
    background: white;
}

#lunch:hover ~ .l-image {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);	
}

#lunch:hover {
    background: white;
}

#dinner:hover ~ .d-image {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);	
}

#dinner:hover {
    background: white;
}

#dessert:hover ~ .de-image {
    filter: sepia(0%) hue-rotate(0deg) saturate(100%);	
}

#dessert:hover {
    background: white;
}

img {
	max-width: 90%;
	height: auto;
}

