/* Your styles go here */
body {
	background: black;
	border: 0%;
	margin: 0%;
	padding: 5%;
}


.main {
	font-size: 30px;
	font-family: 'OleoScript-Regular';
	color: white;
	text-align: center;
	position: fixed; 
	top: 6%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-10deg);
   
}

.images{
	border-width: 0%;
	padding: 0%;
	margin: 0%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;

}

.b-image {
    text-align: center;
	width:90%;
	height:90%;
	border-width: 0%;
	padding: 7%;
	margin: 0%;
}

img {
	max-width: 100%;
	height: auto;
}

#wrapper .text {
position:relative;
bottom:20px;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
font-family: 'Roboto Mono Light Italic', monospace;
font-size: 20px;
color: white;
}

