body{
  background-color: white;
  font-size: 20px;
  font-family: Arial, "sans-serif";
}

.slideshow {
  left: 0%;
  top: 10%;
  transform: translate(-50%,-50%);
  height: 1800px;
  width: 2000px;
  position: relative;
  overflow: show;
}

.images {
  background: url(../img/snake.png);
  background-repeat: repeat;
  position: relative;
  left: 50%;
  top: 50%;
  height: 120%;
  width: 548%;
  animation: slideshow 40s linear infinite;
}

@keyframes slideshow {
  100%    { left: 0%; }
  0%  { left: -500%; }
}

img{
  width:100%;
}

