<style>
.LilKim {
    background-color: pink;
    color: white;
    padding: 10px;
} 

.SZA {
    background-color: BAD8FB;
    color: white;
    padding: 10px;
} 

.Breeders {
    background-color: D7D5D7;
    color: white;
    padding: 10px;
} 
</style>
