/* Your styles go here */
html,body { width: 100%; height: 100%; }
 
body {
	background-color: #C84920;
	margin:4%;
	border:4%;
}

.top {
	background-color: #FABB37;
	height:38%;
	width:90%;
	position:relative;
	display: inline-block;	
}

.middle {
	background-color: #DDCBC8;
	height:25%;
	width:90%;
	position:relative;
	display: inline-block;
}

.bottom {
	background-color:black;
	height:38%;
	width:90%;
	position:relative;
	display: inline-block;
}

@media (max-width: 800px) {
  body {
    background-color: #2F3062;
    margin:4%;
	border:7%;
  }
}

@media (max-width: 800px) {
.top {
    background-color: #3C0E21;
    height:60%;
	width:90%;
  }
}

@media (max-width: 800px) {
.middle {
    background-color: #385AB6;
    height:15%;
	width:90%;
  }
}

@media (max-width: 800px) {
.bottom {
    background-color: #3D3A5D;
    height:21%;
	width:90%;
  }
}