.container {
        position: relative;
        text-align: center;
        color: #000;
}

.rotten{
    height: 500px;
    width: 200px;
    background-color: #000;
    margin: 0 auto 0 auto;
}

.sweetest {
    height: 500px;
    width: 200px;
    background-color: #000;
    margin: 0 auto 0 auto;
}

div {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-size: 10;
    font-family: source code pro;
    color: white;
}
